// guess the number
public static int number, guess, max;
	public static Scanner scan;
	public static Random rand;

	public static void main(String[] args) {
		scan = new Scanner(System.in);
		rand = new Random();
		number = rand.nextInt(101);
		
		System.out.print("please enter a guess: ");
		while (guess!= number) {
			guess = scan.nextInt();
			
			if (guess > number) {
				System.out.println("Your guess is too high");
			}
			if (guess < number) {
				System.out.println("your guess was too low");
			}
		
		}
		System.out.println("you won");
	}
  // graphics
  package graphics;

import java.awt.event.ActionEvent;
import java.awt.event.ActionListener;

import javax.swing.JButton;
import javax.swing.JFrame;

public class graphics implements ActionListener {
 JButton button;

 public static void main(String[] args) {
  for (int x = 20; x > 0; x--) {
   graphics gui = new graphics();
   gui.go();
  }
  
 }

 public void go() {
  JFrame frame = new JFrame();
  button = new JButton("Trolled?");
  button.addActionListener(this);
  frame.getContentPane().add(button);
  frame.setSize(666, 666);
  frame.setVisible(true);
 }

 public void actionPerformed(ActionEvent event) {
  button.setText("Trolled.");
 }

	 }
   //tic tac toe
   import java.util.Scanner;

public class TicTacToe {
	public static int row, col;
	public static Scanner scan = new Scanner(System.in);
	public static char[][] board = new char[3][3];
	public static char turn = 'X';

	public static void main(String[] args) {
		for (int i = 0; i < 3; i++) {
			for (int j = 0; j < 3; j++) {
				board[i][j] = '_';
			}
		}
		Play();
	}

	public static void Play() {
		boolean playing = true;
		PrintBoard();
		while (playing) {
			System.out.println("please enter a row and column");
			row = scan.nextInt() - 1;
			col = scan.nextInt() - 1;

			if (board[row][col] != '_') {
				System.out.println("you cannot type this, or ovverride another command");
				PrintBoard();
				continue;
			}
				
			board[row][col] = turn;
			
			if (GameOver(row, col)) {
				playing = false;
				System.out.println("Game over! Player " + turn + " wins!");
			}
			PrintBoard();
			if (turn == 'X')
				turn = 'O';
			else
				turn = 'X';
		}

	}

	public static void PrintBoard() {
		for (int i = 0; i < 3; i++) {
			System.out.println();
			for (int j = 0; j < 3; j++) {
				if (j == 0)
					System.out.print("|");
				System.out.print(board[i][j] + "|");
			}
		}
		System.out.println();
	}

	public static boolean GameOver(int rMove, int cMove) {
		if (board[0][cMove] == board[1][cMove] && board[0][cMove] == board[2][cMove])
			return true;
		if (board[rMove][0] == board[rMove][1] && board[rMove][0] == board[rMove][2])
			return true;
		if (board[0][0] == board[1][1] && board[0][0] == board[2][2] && board[1][1] != '_')
			return true;
		if (board[0][2] == board[1][1] && board[0][2] == board[2][0] && board[1][1] != '_')
			return true;
		return false;

	}
}
//time stop
public static void sleep(int x) {
			 //sleep(time);
			 
			  try {
			   Thread.sleep(x);
			  } catch (Exception exe) {
			   System.out.println("Fuck, an error.");
			  }
			 }
